.about-me{
  position: absolute;
  /* height: 50px; */
  background: var(--bs-primary);
  width: 100vw;
  left: 0;
  top: 455px;
  padding: 20px 0;
  /* padding: 20px; */
  /* margin-left: 0; */
}

.about-me .inside{
  width: 80%;
  margin: 0 auto;
}

.about-me h2{
  color: white;
  font-weight: 900;
}

.about-me p{
  margin-top: 30px;
  color: whitesmoke;
  letter-spacing: 0.7;
  line-height: 25px;
}

@media only screen and (max-width: 1024px){
  .about-me .inside{
    width: 90%;
  }
  .about-me{
    top: 450px;
  }
}